<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FWMS</title>
    <link rel="stylesheet" href="..\static\home-style.css">
    <script src="script.js"></script>
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <div class="logo">Strategy</div>
            <div class="center">Home</div>
            <div class="logout">Logout</div>
        </nav>
    </header>

    <div class="container">
        <div class="left-sidebar">
            <div class="box">
                <h2>Strategy 1</h2>
                <button>Open</button>
                <button>Run File</button>
                <button>Stop</button>
            </div>
            <div class="box">
                <h2>Strategy 2</h2>
                <button>Open</button>
                <button>Run File</button>
                <button>Stop</button>
            </div>
            <div class="box">
                <h2>Strategy 3</h2>
                <button>Open</button>
                <button>Run File</button>
                <button>Stop</button>
            </div>
            <div class="box">
                <h2>Strategy 4</h2>
                <button>Open</button>
                <button>Run File</button>
                <button>Stop</button>
            </div>
            <div class="box">
                <h2>Strategy 5</h2>
                <button>Open</button>
                <button>Run File</button>
                <button>Stop</button>
            </div>
            <div class="box">
                <h2>Strategy 6</h2>
                <button>Open</button>
                <button>Run File</button>
                <button>Stop</button>
            </div>
            <div class="box">
                <h2>Strategy 7</h2>
                <button>Open</button>
                <button>Run File</button>
                <button>Stop</button>
            </div>
            <div class="box">
                <h2>Strategy 8</h2>
                <button>Open</button>
                <button>Run File</button>
                <button>Stop</button>
            </div>
            <div class="box">
                <h2>Strategy 9</h2>
                <button>Open</button>
                <button>Run File</button>
                <button>Stop</button>
            </div>
            <div class="box">
                <h2>Strategy 10</h2>
                <button>Open</button>
                <button>Run File</button>
                <button>Stop</button>
            </div>
            <div class="box">
                <h2>Strategy 11</h2>
                <button>Open</button>
                <button>Run File</button>
                <button>Stop</button>
            </div>
            <div class="box">
                <h2>Strategy 12</h2>
                <button>Open</button>
                <button>Run File</button>
                <button>Stop</button>
            </div>
        </div>
        
        <div class="right-sidebar">
            <div class="text-container">
                <p>This is the initial content. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores quos perspiciatis itaque. Ipsam impedit in fugit omnis eius asperiores et tempora atque iste expedita! Eligendi ex ad repellendus impedit eos? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum corrupti ratione natus fugiat corporis et iure. Nesciunt culpa velit quia itaque repellat, obcaecati, iusto voluptate ratione placeat aperiam delectus laborum.
                </p>
            </div>
        </div>
    </div>
</body>
</html>
